@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&family=Pacifico&display=swap');


body {
    font-family: 'Pacifico', cursive;
}

.logo img{
    width: 50px;
}

.logo {
    display: flex;
    justify-content: flex-start;
}

.navbar {
    display: flex;
}

.food {
    width: 30%;
}