@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900&family=Pacifico&display=swap');
/* 
font-family: 'Nunito', sans-serif;
font-family: 'Pacifico', cursive; */

/* ========================= Root styles ====================== */

:root {

    /* color palette */

    --primary-clr: #DD5D00;
    --secondary-clr: #2F2F2F;


}
